<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>Landing page</h1>
    </header>
    
    <a href="/campgrounds">Campground page</a>
</div>

<% include partials/footer %>